.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px; /* padding au lieu de margin */
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap; /* permet de gérer si trop étroit */
}

.navbar-logo {
  margin-right: auto; /* pousse le menu vers la droite */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px; /* espace suffisant mais réduit pour éviter débordement */
  font-size: 20px;
  flex-wrap: nowrap; /* interdit le passage à la ligne */
  overflow-x: auto; /* protection en cas d'extrême limite */
  margin-left: auto;
}

.nav-connect {
  padding: 14px 28px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #8303a7 102.06%);
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 50px;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

/* Adaptation pour écrans intermédiaires */
@media(max-width: 1100px) {
  .nav-menu {
    gap: 30px;
    font-size: 18px;
  }

  .nav-connect {
    font-size: 16px;
    padding: 12px 24px;
  }

  .navbar {
    padding: 20px 20px;
  }
}

/* Mobile menu */
@media(max-width:768px) {
  .navbar {
    padding: 20px 30px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1F0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
