*{
    margin:0;
    padding: 0;
}
/* Empêche le scroll horizontal */

body {
  overflow-x: hidden; /* empêche le scroll horizontal */
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}
